<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" src="assets/icons/logo.svg"/>
  <h1>VIRUS ESCAPE</h1>
</div>

<div class="content" role="main">
  <canvas #canvas></canvas>
  <footer>
    <div *ngIf="!gameStarted">
      <button class="card" (click)="startGame()">Start Game</button>
      <span>Speed Factor</span>
      <select (change)="setGameSpeed($event.target.value)" [value]="storedSpeed">
        <option value="1">1x</option>
        <option value="2">2x</option>
        <option value="3">3x</option>
        <option value="4">4x</option>
        <option value="5">5x</option>
        <option value="10">10x</option>
      </select>
    </div>
  </footer>
</div>
